<%= hidden_field_tag(:number, order.number) %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>商品名</th>
        <th>価格</th>
        <th>数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "potepan/orders/line_item", collection: order.line_items.includes(variant: [:product]),
        locals: { order_form: order_form } %>
    </tbody>
  </table>
</div>
<% unless params[:state] == "confirm" %>
  <div class="updateArea">
    <%= order_form.submit("アップデート", class: "btn") %>
  </div>
<% end %>
<div class="totalAmountArea">
  <div class="col-sm-4 col-sm-offset-8 col-xs-12">
    <ul class="list-unstyled">
      <li>小計
        <span>
          <%= order.display_item_total %>
        </span>
      </li>
      <li>消費税
        <span>
          <%= order.display_additional_tax_total %>
        </span>
      </li>
      <li>送料
        <span>
          <%= order.display_ship_total.to_html %>
        </span>
      </li>
      <li>総計
        <span class="grandTotal">
          <%= order.display_total %>
        </span>
      </li>
    </ul>
  </div>
</div>
<% unless params[:state] == "confirm" %>
  <div class="checkBtnArea">
    <%= button_tag(name: 'checkout', class: 'btn btn-primary btn-block') do %>
      購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>
